<div class="form-container">
    <h2 class="text-center font-bold text-2xl mb-4">Agregar Nuevo Socio</h2>
    <form [formGroup]="addSocioForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Id del Socio:</mat-label>
            <input matInput formControlName="id">
            <mat-error *ngIf="addSocioForm.get('id')?.hasError('required') && addSocioForm.get('id')?.touched">
                El Id del socio es obligatorio.
            </mat-error>
            <mat-error *ngIf="addSocioForm.get('id')?.hasError('pattern') && addSocioForm.get('id')?.touched">
                Debe ingresar exactamente 2 dígitos numéricos.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Nombre del Socio:</mat-label>
            <input matInput formControlName="nombre">
            <mat-error *ngIf="addSocioForm.get('nombre')?.hasError('required') && addSocioForm.get('nombre')?.touched">
                El nombre del socio es obligatorio.
            </mat-error>
            <mat-error *ngIf="addSocioForm.get('nombre')?.hasError('minlength') && addSocioForm.get('nombre')?.touched">
                El nombre debe tener al menos 5 caracteres.
            </mat-error>
        </mat-form-field>

        <div class="mb-4">
            <label for="aportado" class="block text-withe-700 font-bold mb-2">Aportado:</label>
            <input type="text" id="aportado" name="aportado"
                class="w-full p-2 border border-gray-300 rounded text-black" value="00.00$" disabled />
        </div>

        <div class="flex space-x-4">
            <button mat-raised-button color="primary" type="submit" [disabled]="addSocioForm.invalid">
                Agregar Socio
            </button>
            <button (click)="limpiarCampos()" mat-raised-button color="primary" type="submit">
                Limpiar
            </button>
            <button (click)="irASocio()" mat-raised-button color="primary" type="submit">
                Cancelar
            </button>
        </div>

    </form>