<div class="form-container">
    <h1 class="text-center">Agregar Nuevo Prestamo del Socio</h1>

    <form [formGroup]="addPrestamoForm" (ngSubmit)="onSubmit()">
        <div class="flex space-x-4">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Numero de Prestamo:</mat-label>
                <input matInput formControlName="idPrestamos">
                <mat-error
                    *ngIf="addPrestamoForm.get('idPrestamos')?.hasError('required') && addPrestamoForm.get('idPrestamos')?.touched">
                    El campo es obligatorio.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Id Socio:</mat-label>
                <input type="text" placeholder="Buscar ID o Nombre del Socio" matInput formControlName="idSocios"
                    [matAutocomplete]="autoSocio">

                <mat-icon matSuffix>search</mat-icon>

                <mat-autocomplete #autoSocio="matAutocomplete" [displayWith]="displaySocioFn"
                    (optionSelected)="onSocioSelected($event)">

                    <mat-option *ngFor="let option of filteredSocios | async" [value]="option">
                        ({{option.id}}) {{option.nombre}}
                    </mat-option>
                </mat-autocomplete>

                <mat-error
                    *ngIf="addPrestamoForm.get('idSocios')?.hasError('required') && addPrestamoForm.get('idSocios')?.touched">
                    Debe seleccionar un socio de la lista.
                </mat-error>
            </mat-form-field>
        </div>

        <div class="flex space-x-4">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Fecha:</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="fechaPrestamo">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error
                    *ngIf="addPrestamoForm.get('fechaPrestamo')?.hasError('required') && addPrestamoForm.get('fechaPrestamo')?.touched">
                    El campo es obligatorio.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Monto:</mat-label>
                <input matInput formControlName="montoPrestado">
                <mat-error
                    *ngIf="addPrestamoForm.get('montoPrestado')?.hasError('required') && addPrestamoForm.get('montoPrestado')?.touched">
                    El campo es obligatorio.
                </mat-error>
                <mat-error
                    *ngIf="addPrestamoForm.get('montoPrestado')?.hasError('pattern') && addPrestamoForm.get('montoPrestado')?.touched">
                    Ingresar solo numeros mayores a 0.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Plazo:</mat-label>
                <input matInput formControlName="plazoPrestamo">
                <mat-error
                    *ngIf="addPrestamoForm.get('plazoPrestamo')?.hasError('required') && addPrestamoForm.get('plazoPrestamo')?.touched">
                    El campo es obligatorio.
                </mat-error>
                <mat-error
                    *ngIf="addPrestamoForm.get('plazoPrestamo')?.hasError('pattern') && addPrestamoForm.get('plazoPrestamo')?.touched">
                    Solo ingrear numeros enteros.
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Interes:</mat-label>
                <input matInput formControlName="interesPrestamo">
                <mat-error
                    *ngIf="addPrestamoForm.get('interesPrestamo')?.hasError('required') && addPrestamoForm.get('interesPrestamo')?.touched">
                    El campo es obligatorio.
                </mat-error>
                <mat-error
                    *ngIf="addPrestamoForm.get('interesPrestamo')?.hasError('pattern') && addPrestamoForm.get('interesPrestamo')?.touched">
                    Solo ingrear numeros enteros.
                </mat-error>
            </mat-form-field>
        </div>

        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Comentario:</mat-label>
            <input matInput formControlName="comentario">
            <mat-error
                *ngIf="addPrestamoForm.get('comentario')?.hasError('required') && addPrestamoForm.get('comentario')?.touched">
                El campo es obligatorio.
            </mat-error>
        </mat-form-field>

        <h2 class="text-center">💰 Resumen de la Cuota y Pagos</h2>
        <div class="flex space-x-4">
            <!-- <mat-divider></mat-divider> -->
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Interés Mensual ($):</mat-label>
                <input matInput formControlName="interesMensual" [readonly]="true">
                <span matSuffix>$</span>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Amortizacion Mensual:</mat-label>
                <input matInput formControlName="amortizacion" [readonly]="true">
                <span matSuffix>$</span>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Cuota Mensual:</mat-label>
                <input matInput formControlName="cuota" [readonly]="true">
                <span matSuffix>$</span>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Interés Total a Pagar:</mat-label>
                <input matInput formControlName="interesTotal" [readonly]="true">
                <span matSuffix>$</span>
            </mat-form-field>

            <mat-form-field appearance="fill" class="full-width">
                <mat-label>Monto Total a Pagar:</mat-label>
                <input matInput formControlName="total" [readonly]="true">
                <span matSuffix>$</span>
            </mat-form-field>
        </div>
    </form>
    <!-- <mat-divider style="margin-top: 30px;"></mat-divider> -->

    <div *ngIf="tablaAmortizacion.length > 0" >
        <h2 style="margin-top: 20px;" class="text-center">🗓️ Tabla de Amortización</h2>

        <div class="mat-elevation-z8">
            <table mat-table [dataSource]="tablaAmortizacion" class="full-width">

                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef> Período </th>
                    <td mat-cell *matCellDef="let row"> {{row.periodo}} </td>
                </ng-container>

                <ng-container matColumnDef="saldoInicial">
                    <th mat-header-cell *matHeaderCellDef> Saldo Inicial ($) </th>
                    <td mat-cell *matCellDef="let row"> {{row.saldoInicial | currency: 'USD':'symbol':'1.2-2'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cuota">
                    <th mat-header-cell *matHeaderCellDef> Amortización ($) </th>
                    <td mat-cell *matCellDef="let row"> {{row.cuota | currency: 'USD':'symbol':'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="interes">
                    <th mat-header-cell *matHeaderCellDef> Interés ($) </th>
                    <td mat-cell *matCellDef="let row"> {{row.interes | currency: 'USD':'symbol':'1.2-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="amortizacion">
                    <th mat-header-cell *matHeaderCellDef> Cuota ($) </th>
                    <td mat-cell *matCellDef="let row"> {{row.amortizacion | currency: 'USD':'symbol':'1.2-2'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="saldoFinal">
                    <th mat-header-cell *matHeaderCellDef> Saldo Final ($) </th>
                    <td mat-cell *matCellDef="let row"> {{row.saldoFinal | currency: 'USD':'symbol':'1.2-2'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
    <div class="flex space-x-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="addPrestamoForm.invalid">
            Agregar Prestamo
        </button>
        <button (click)="limpiarCampos()" mat-raised-button color="primary" type="submit">
            Limpiar
        </button>
        <button (click)="irASocio()" mat-raised-button color="primary" type="submit">
            Cancelar
        </button>
    </div>
</div>